
/* Police et arrière-plan */
body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #1f1f1f;
  color: #f1f1f1;
  line-height: 1.6;
  padding: 2rem;
}

/* Titre Chapitre */
h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1150ff;
  text-shadow: 2px 2px 5px #000;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
}

/* Paragraphe */
p {
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-left: 4px solid #1150ff;
  border-radius: 6px;
}

/* Lien */
a {
  color: #1150ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*Pour le black jack */
#blackjack {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #1150ff;
  font-family: 'Georgia', serif;
  text-align: center;
}

#blackjack h2 {
  margin-bottom: 20px;
}

#blackjack button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

#log {
  white-space: pre-wrap;
  margin-bottom: 20px;
  font-weight: bold;
}

#result {
  margin-top: 15px;
  font-size: 1.2rem;
}
